# imputePCA - Ozone

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
result = pyreadr.read_r('./data/ozone.rda')
ozone = result["ozone"]
ozone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 20010601 to 20010930
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   maxO3   99 non-null     object
 1   T9      103 non-null    float64
 2   T12     96 non-null     float64
 3   T15     93 non-null     float64
 4   Ne9     106 non-null    object
 5   Ne12    101 non-null    object
 6   Ne15    99 non-null     object
 7   Vx9     106 non-null    float64
 8   Vx12    98 non-null     float64
 9   Vx15    98 non-null     float64
 10  maxO3v  107 non-null    object
 11  vent    101 non-null    category
 12  pluie   104 non-null    category
dtypes: category(2), float64(6), object(5)
memory usage: 11.0+ KB

In [3]:
from missmdatools import imputePCA
res_impute = imputePCA(X=ozone,n_components=2,quali_sup=[11,12])

In [4]:
res_impute["completeObs"]

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,vent,pluie
rownames,,,,,,,,,,,,,
20010601,87.0,15.6,18.5,18.400000,4.0,4.0,8.0,0.6946,-1.71010,-0.694600,84.0,Nord,Sec
20010602,73.468578,17.0,18.4,17.700000,5.0,5.0,7.0,-4.3301,-4.00000,-3.000000,87.0,Nord,Sec
20010603,92.0,15.3,17.6,19.500000,2.0,5.0,4.0,2.9544,1.87940,0.520900,82.0,Est,NaN
20010604,114.0,16.2,19.7,22.500000,1.0,3.151998,0.0,0.9848,2.73788,2.756403,92.0,NaN,Sec
20010605,94.0,17.4,20.5,20.400000,8.0,8.0,7.0,-0.5000,-2.95440,-4.330100,114.0,Ouest,Sec
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20010925,84.0,13.3,17.7,17.800000,3.0,5.0,6.0,0.0000,-1.00000,-1.285600,76.0,Sud,Sec
20010927,77.0,16.2,20.8,22.100000,6.0,5.0,5.0,-0.6946,-2.00000,-1.472948,71.0,NaN,Pluie
20010928,99.0,16.9,23.0,22.078913,6.0,4.0,7.0,1.5000,0.86820,0.868200,77.0,Sud,Sec
20010929,83.0,16.9,19.8,22.100000,6.0,5.0,3.0,-4.0000,-3.75880,-4.000000,99.0,Ouest,Pluie
20010930,70.0,15.7,18.6,20.700000,7.0,7.0,7.0,0.0000,-1.04190,-4.000000,83.0,Sud,Sec

In [5]:
res_impute["fittedX"]

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v
rownames,,,,,,,,,,,
20010601,78.275921,16.485502,19.289229,20.337204,5.180536,5.468073,5.095049,-0.884620,-0.869453,-0.783774,77.586252
20010602,73.468569,17.032952,19.198742,20.055171,6.539352,6.454179,6.141112,-2.760325,-3.326569,-3.341558,79.644205
20010603,84.863382,16.189191,19.673570,20.941051,3.753485,4.404799,3.998168,0.985251,1.537621,1.697845,77.296438
20010604,102.102818,17.824650,22.062384,23.676068,2.329209,3.151962,2.915292,2.158208,2.737964,2.756491,89.978493
20010605,80.273943,18.008987,20.331287,21.293099,6.293753,6.169276,5.958649,-2.807209,-3.551570,-3.668652,86.492616
...,...,...,...,...,...,...,...,...,...,...,...
20010925,73.625677,15.720333,18.458994,19.444257,5.254232,5.600428,5.146896,-0.701003,-0.507963,-0.338802,72.359009
20010927,81.052985,17.130258,19.892768,20.960413,5.316498,5.508199,5.203343,-1.284097,-1.482535,-1.472946,81.754892
20010928,89.468385,17.476398,20.799460,22.078915,4.187900,4.609697,4.339432,-0.013676,0.059812,0.063400,85.424622
20010929,84.864481,18.376884,20.928608,21.989007,5.849720,5.792779,5.620178,-2.390559,-3.088979,-3.234349,89.492772
20010930,72.026428,16.416459,18.723746,19.596626,6.198829,6.254619,5.876019,-2.118204,-2.412474,-2.348603,75.909147

In [6]:
help(imputePCA)

Help on function imputePCA in module missmdatools.imputepca:

imputePCA(X, n_components=5, standardize=True, method='regularized', ind_weights=None, ind_sup=None, quanti_sup=None, quali_sup=None, ridge_coef=1, threshold=1e-06, random_state=None, nb_init=1, max_iter=1000)
    Impute dataset with Principal Components Analysis (imputePCA)
    -------------------------------------------------------------

    Description
    -----------
    impute the missing values of a dataset with the Principal Components Analysis (PCA) model.
    It can be used as a preliminary step before performing a PCA on an complete dataset.
    The output of the algorithm can be used as an input of the PCA function of the scientisttools
    package in order to perform PCA on an incomplete dataset.

    Parameters
    ----------
    X : pandas/polars dataframe with continuous variables of shape (n_rows, n_columns) containing missing values

    n_components : an integer corresponding to the number of components used to predict the missing values (default is 5)

    standardize : a boolean, default = True
        - If True : the data are scaled to unit variance.
        - If False : the data are not scaled to unit variance.

    method : method to used. Either 'regularized' or 'em'
        - 'regularized' for regularized iterative algorithm
        - 'em' for expectation - maximization algorithm

    ind_weights : an optional individuals weights (by default, a list/tuple of 1/(number of active individuals) for uniform individuals weights),
                    the weights are given only for active individuals.

    ind_sup : an integer or a list/tuple indicating the indexes of the supplementary individuals

    quanti_sup : an integer or a list/tuple indicating the indexes of the quantitative supplementary variables

    quali_sup : an integer or a list/tuple indicating the indexes of the categorical supplementary variables

    ridge_coef : 1 by default to perform the regularized imputePCA algorithm; useful only if method="regularized".
                Other regularization terms can be implemented by setting the value to less than 1 in order to regularized less
                (to get closer to the results of the em method) or more than 1 to regularized more (to get closer to the results of the mean imputation)

    threshold : the threshold for assessing convergence

    random_state : integer, by default random_state = None implies that missing values are initially imputed by the mean of each variable.
                    Other values leads to a random initialization

    nb_init : integer corresponding to the number of random initializations; the first initialization is the initialization with the mean imputation.

    max_iter : integer, maximum number of iteration for the algorithm (default = 1000).

    Return
    ------
    a dictionary containing two elements :
    completeObs : the imputed dataset; the observed values are kept for the non-missing entries and the missing values are replaced by the predicted ones.

    fittedX : the reconstructed data

    References
    ----------
    Josse, J & Husson, F. (2013). Handling missing values in exploratory multivariate data analysis methods. Journal de la SFdS. 153 (2), pp. 79-99.

    Josse, J. and Husson, F. missMDA (2016). A Package for Handling Missing Values in Multivariate Data Analysis. Journal of Statistical Software, 70 (1), pp 1-31 <doi:10.18637/jss.v070.i01>

    Author(s)
    ---------
    Duvérier DJIFACK ZEBAZE duverierdjifack@gmail.com