# imputePCA - Ozone

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
result = pyreadr.read_r('./data/ozone.rda')
ozone = result["ozone"]
ozone.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 20010601 to 20010930
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   maxO3   99 non-null     object
 1   T9      103 non-null    float64
 2   T12     96 non-null     float64
 3   T15     93 non-null     float64
 4   Ne9     106 non-null    object
 5   Ne12    101 non-null    object
 6   Ne15    99 non-null     object
 7   Vx9     106 non-null    float64
 8   Vx12    98 non-null     float64
 9   Vx15    98 non-null     float64
 10  maxO3v  107 non-null    object
 11  vent    101 non-null    category
 12  pluie   104 non-null    category
dtypes: category(2), float64(6), object(5)
memory usage: 11.0+ KB

In [3]:
from missmdatools import imputePCA
res_impute = imputePCA(X=ozone,n_components=2,quali_sup=[11,12])

In [4]:
res_impute["completeObs"]

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,vent,pluie
rownames,,,,,,,,,,,,,
20010601,87.0,15.6,18.5,18.400000,4.0,4.0,8.0,0.6946,-1.71010,-0.694600,84.0,Nord,Sec
20010602,73.468578,17.0,18.4,17.700000,5.0,5.0,7.0,-4.3301,-4.00000,-3.000000,87.0,Nord,Sec
20010603,92.0,15.3,17.6,19.500000,2.0,5.0,4.0,2.9544,1.87940,0.520900,82.0,Est,NaN
20010604,114.0,16.2,19.7,22.500000,1.0,3.151998,0.0,0.9848,2.73788,2.756403,92.0,NaN,Sec
20010605,94.0,17.4,20.5,20.400000,8.0,8.0,7.0,-0.5000,-2.95440,-4.330100,114.0,Ouest,Sec
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20010925,84.0,13.3,17.7,17.800000,3.0,5.0,6.0,0.0000,-1.00000,-1.285600,76.0,Sud,Sec
20010927,77.0,16.2,20.8,22.100000,6.0,5.0,5.0,-0.6946,-2.00000,-1.472948,71.0,NaN,Pluie
20010928,99.0,16.9,23.0,22.078913,6.0,4.0,7.0,1.5000,0.86820,0.868200,77.0,Sud,Sec
20010929,83.0,16.9,19.8,22.100000,6.0,5.0,3.0,-4.0000,-3.75880,-4.000000,99.0,Ouest,Pluie
20010930,70.0,15.7,18.6,20.700000,7.0,7.0,7.0,0.0000,-1.04190,-4.000000,83.0,Sud,Sec

In [5]:
res_impute["fittedX"]

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v
rownames,,,,,,,,,,,
20010601,78.275921,16.485502,19.289229,20.337204,5.180536,5.468073,5.095049,-0.884620,-0.869453,-0.783774,77.586252
20010602,73.468569,17.032952,19.198742,20.055171,6.539352,6.454179,6.141112,-2.760325,-3.326569,-3.341558,79.644205
20010603,84.863382,16.189191,19.673570,20.941051,3.753485,4.404799,3.998168,0.985251,1.537621,1.697845,77.296438
20010604,102.102818,17.824650,22.062384,23.676068,2.329209,3.151962,2.915292,2.158208,2.737964,2.756491,89.978493
20010605,80.273943,18.008987,20.331287,21.293099,6.293753,6.169276,5.958649,-2.807209,-3.551570,-3.668652,86.492616
...,...,...,...,...,...,...,...,...,...,...,...
20010925,73.625677,15.720333,18.458994,19.444257,5.254232,5.600428,5.146896,-0.701003,-0.507963,-0.338802,72.359009
20010927,81.052985,17.130258,19.892768,20.960413,5.316498,5.508199,5.203343,-1.284097,-1.482535,-1.472946,81.754892
20010928,89.468385,17.476398,20.799460,22.078915,4.187900,4.609697,4.339432,-0.013676,0.059812,0.063400,85.424622
20010929,84.864481,18.376884,20.928608,21.989007,5.849720,5.792779,5.620178,-2.390559,-3.088979,-3.234349,89.492772
20010930,72.026428,16.416459,18.723746,19.596626,6.198829,6.254619,5.876019,-2.118204,-2.412474,-2.348603,75.909147

In [6]:
res_impute = imputePCA(X=ozone,n_components=2,quali_sup=[11,12],quanti_sup=[9,10])

## ozone2

In [7]:
import pandas as pd
ozone2 = pd.read_csv("http://factominer.free.fr/missMDA/ozoneNA.csv",header=0,sep=",",index_col=0)
ozone2

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,WindDirection
20010601,87.0,15.6,18.5,NaN,4.0,4.0,8.0,0.6946,-1.7101,-0.6946,84.0,North
20010602,82.0,NaN,NaN,NaN,5.0,5.0,7.0,-4.3301,-4.0000,-3.0000,87.0,North
20010603,92.0,15.3,17.6,19.5,2.0,NaN,NaN,2.9544,NaN,0.5209,82.0,East
20010604,114.0,16.2,19.7,NaN,1.0,1.0,0.0,NaN,0.3473,-0.1736,92.0,North
20010605,94.0,NaN,20.5,20.4,NaN,NaN,NaN,-0.5000,-2.9544,-4.3301,114.0,West
...,...,...,...,...,...,...,...,...,...,...,...,...
20010925,NaN,13.3,NaN,17.8,3.0,5.0,NaN,0.0000,-1.0000,-1.2856,76.0,South
20010927,77.0,16.2,20.8,NaN,NaN,NaN,NaN,-0.6946,-2.0000,NaN,71.0,South
20010928,99.0,NaN,NaN,NaN,NaN,NaN,NaN,1.5000,0.8682,0.8682,NaN,South
20010929,83.0,NaN,NaN,NaN,NaN,5.0,3.0,-4.0000,-3.7588,-4.0000,99.0,West
20010930,70.0,15.7,18.6,20.7,7.0,NaN,7.0,NaN,-1.0419,-4.0000,83.0,South

In [9]:
res_impute2 = imputePCA(X=ozone2,n_components=2,quali_sup=11)
res_impute2["completeObs"]

,maxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,maxO3v,WindDirection
20010601,87.000000,15.600000,18.500000,20.471461,4.000000,4.000000,8.000000,0.694600,-1.710100,-0.694600,84.000000,North
20010602,82.000000,18.504696,20.869856,21.799322,5.000000,5.000000,7.000000,-4.330100,-4.000000,-3.000000,87.000000,North
20010603,92.000000,15.300000,17.600000,19.500000,2.000000,3.984066,3.812104,2.954400,1.950563,0.520900,82.000000,East
20010604,114.000000,16.200000,19.700000,24.692652,1.000000,1.000000,0.000000,2.043894,0.347300,-0.173600,92.000000,North
20010605,94.000000,18.968403,20.500000,20.400000,5.294129,5.271657,5.055926,-0.500000,-2.954400,-4.330100,114.000000,West
...,...,...,...,...,...,...,...,...,...,...,...,...
20010925,75.573009,13.300000,18.434015,17.800000,3.000000,5.000000,5.000903,0.000000,-1.000000,-1.285600,76.000000,South
20010927,77.000000,16.200000,20.800000,20.498698,5.368279,5.494589,5.176542,-0.694600,-2.000000,-1.472982,71.000000,South
20010928,99.000000,18.073923,22.169337,23.650677,3.530717,3.610328,3.561142,1.500000,0.868200,0.868200,93.135319,South
20010929,83.000000,19.855375,22.663277,23.846912,5.374230,5.000000,3.000000,-4.000000,-3.758800,-4.000000,99.000000,West
20010930,70.000000,15.700000,18.600000,20.700000,7.000000,6.405344,7.000000,-2.583536,-1.041900,-4.000000,83.000000,South